.section--aboutMe {
  .background {
    background-image: url("./img/background/aboutMe.svg");
  }

  h2 {
    background-image: url("./img/background/heading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
