.section--aboutMe {
  .background {
    background-image: url("./img/background/aboutMe.svg");
    padding-bottom: 52rem;
    padding-top: 25rem;
    margin-bottom: -25rem;
  }

  h2 {
    background-image: url("./img/background/heading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  p {
    text-align: left;
    margin-bottom: 1rem;
  }

  @media (min-width: $laptop) {
    .background {
      margin-bottom: -15rem;
      padding-bottom: 35rem;
    }
  }
}
