.section--contact {
  padding-bottom: 10rem;
  padding-top: 15rem;
  form {
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    text-align: left;

    label {
      font-size: 3.2rem;
      height: 4.8rem;
    }
    input,
    textarea {
      margin-left: 0.1rem;
      border-radius: 1.5rem;
      background-color: #d9d9d9;
      font-size: 2rem;
      padding: 0.6rem;
      border: none;
      margin-bottom: 1rem;
      min-width: 100%;
      max-width: 100%;
    }

    .contact__form__button {
      max-width: 19.8rem;
      margin-left: auto;
      font-size: 2rem;
      width: 100%;
      border-radius: 15px;
      color: $white;
      text-transform: uppercase;
      background-color: $brand-color-two;
      border: none;
      padding: 1.6rem;
      margin-top: 4.5rem;
      border: 2px solid transparent;
      transition: border-color 0.3s;

      &:hover {
        border-color: $white;
        cursor: pointer;
      }
    }
  }
  .message {
    padding: 1rem;
    font-size: 2.6rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
  .success-message {
    background-color: #4caf50;
    color: white;
  }
  .error-message {
    background-color: #f44336;
    color: white;
  }
}
