.section--portfolio {
  .background {
    background-size: cover;
    background-image: url("./img/background/portfolio-test-2.svg");
    padding-top: 12rem;
    padding-bottom: 35rem;
  }

  .cards_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 11rem;

    @media (min-width: $tablet) {
      grid-template-columns: minmax(auto, 52.8rem) minmax(auto, 52.8rem);
    }

    .card {
      width: 100%;
      background-color: rgba(52, 57, 103, 0.35);
      padding: 1.6rem;
      border-radius: 15px;

      img {
        width: 100%;
        opacity: 1;
        border-radius: 15px;
      }

      .buttons {
        padding-top: 1.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
          color: $brand-color-three;
          background: none;
          border: none;
          padding: 0.5rem;
          transition: all 2s;
          svg {
            width: 5rem;
            height: 5rem;
            transition: stroke-width 0.3s;
          }

          a:hover {
            svg {
              stroke-width: 1.5px;
            }
          }
        }
      }
    }

    .card * {
      opacity: 1;
    }
  }
}
