.section--skills {
  padding-bottom: 13rem;
  h2:first-child {
    margin-top: -5rem;
  }

  h2:last-of-type {
    margin-top: 4rem;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
    img {
      max-height: 10rem;
    }
  }

  @media (min-width: $mobile) {
    .box {
      flex-direction: row;
    }
  }
}
