@import "./sass/colors";
@import "./sass/breakpoints";
@import "./sass/section/introduction.scss";
@import "./sass/section/aboutMe.scss";
@import "./sass/section/portfolio";
@import "./sass/section/contact";
@import "./sass/section/skills";
@import "./sass/navigation";
@import "./sass/section/footer";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media (min-width: 2300px) {
    font-size: 67.5%;
  }

  @media (min-width: 2600px) {
    font-size: 82.5%;
  }
}

body {
  background-color: $brand-color-one;
  color: $white;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  margin: auto;
  max-width: 120rem;
  padding: 0 2rem;
}
a {
  text-decoration: none;
  color: $brand-color-three;
}

section {
  text-align: center;

  h2 {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 6rem;
  }

  p {
    font-weight: 400;
    font-size: 2rem;
  }

  .background {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    padding-top: 19rem;
    padding-bottom: 35rem;
  }

  @media (min-width: $tablet) {
    h2 {
      font-size: 8.4rem;
    }
    p {
      font-size: 2.4rem;
    }
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $brand-color-one;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
